* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 0; 
}

button {
	font-family: 'PT Sans Narrow', sans-serif;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
}

.row {
	margin: 0 -10px;
	clear: both;
}

.clearfix:before,
.clearfix:after,
.row:after,
.row:before {
	content: '';
	display: table;
}

.clearfix:after,
.row:after {
	clear: both;
}

.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float:left;
	padding: 0 10px;
}

.col-1 {
	width: 8.3333%;
}
.col-2 {
	width: 16.6666%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333%;
}
.col-5 {
	width: 41.6666%;
}
.col-6 {
	width:50%;
}
.col-7 {
	width: 57.4795%;
}
.col-8 {
	width:66.6666%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.3333%;
}
.col-11 {
	width: 91.6674%;
}
.col-12 {
	width: 100%;
}

.banner {
	background-image: url(../img/tint.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	background-color: #0c0c0c;
	margin-bottom: 55px;
}

.hamburger_menu__icon {
	display: none;
}

.header__user_block {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-right: 39px;
	padding:20px 25px;
}

.header__user_block img {
	padding-right: 10px;
    vertical-align: middle;
}

.header__user_block:hover {
	background-color: #242424;
}

.header__login {
	font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
}

.header__navigator {
	display: inline-block;
	padding: 0;
	float: left;
	font-size: 0;
}

.header__navigator li {
	display: inline-block;
	padding:20px 25px;
}

.header__navigator li:hover {
	background-color: #242424;
}

.header__navigator_link {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;	
}

.adventage_logo {
	margin:0 auto 74px auto;
	text-align: center;
}

.adventage_items__item {
	text-align: center;
	color: white;
	padding: 0 10px;
}

.adventage_items__title {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	margin-bottom: 25px;
}

.adventage_items__figure_position {
	display: inline-block;
    text-align: center;
    margin-bottom: 28px;
}

.adventage_items__figure {
	height: 19px;
	width: 19px;
	transform: rotate(45deg);
	background-color: white;
	display: block;
	margin: 0;
}

.item_cool-padding {
	margin-right: 10px;
}

.item_expensive-padding {
	margin-right: 25px; 
}

.adventage_items__contet p {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	margin: 0;
	margin-bottom: 78px;
	letter-spacing: 0.3px;
}

.price_items {
	padding: 0 10px;
}

.price_items>.prise_block:last-child {
	margin-bottom: 65px;
}

.prise_block {
	background-color: white;
	margin-bottom: 33px;
	background-image: url(../img/layer.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.price_items__item {
	color:black;
	min-height: 385px;
	margin-left: 75px;
	margin-top: 46px;
}

.price-padding {
	padding: 10px 0;
}

.price_items__title {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
    margin:0;
    margin-bottom: 26px;
    letter-spacing: 0.3px;
}

.price_items__contant {
	margin: 0; 
	line-height: 24px;
	margin-right: 75px;
}

.price_items__contant b {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}


.conatant_news p {
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0.1px;
}

.conatant_news time {
	margin-bottom: 29px;
	font-size: 12px;
	display: block;
}

.contant_news__button {
    display: inline-block;
    width: 140px;
	height: 45px;
    color: white;
    background-color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3;
    vertical-align: middle;
    text-align: center;
}

.price_items__contant img {
    margin-bottom: 36px;
    margin-left: 6px;
    margin-top: 13px;
}

.price_gallery__button_prew {
    color: white;
    background-color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 17px;
    display: inline-block;
    width: 140px;
    height: 45px;
    outline: none;
    letter-spacing: 0.2px;
}

.price_gallery__button_next {
    color: white;
    background-color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    width: 140px;
    height: 45px;
    outline: none;
}

.contant_contact__adress {
	margin-bottom: 25px;
	letter-spacing: 0.15px;
}

.contant_contact__worktime {
	margin-bottom: 25px;
	letter-spacing: 0.45px;
}

.contant_contact__button_map {
    display: inline-block;
    width: 140px;
	height: 45px;
	margin-right: 20px;
    color: white;
    background-color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.1px;
}

.contant_contact__button_recall {
    display: inline-block;
    width: 140px;
	height: 45px;
    color: white;
    background-color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.3px;
}

.contant_note__input {
	width: 139px;
    height: 42px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    border-color: black;
    outline: none;
    padding-left: 15px;
    font-size: 12px;
}

.contant_note__input::-webkit-input-placeholder { 
	color: black;
	font-weight: 700;
}

.contant_note__input::-moz-input-placeholder { 
	color: black;
	font-weight: 700;
}

.contant_note p {
	margin:0;
	margin-bottom: 27px;
}

.contant_note__send_data {
	width: 325px;
}

.contant_note__sent_button {
    width: 300px;
    min-height: 45px;
    margin-top: 15px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}

.contant_note__input_block button{
	border:none;
}

.footer {
	background-color: #1f1f1f;
	padding-top: 58px;
}

.footer__contact {
	width: 315px;
}

.footer__contact p {
    margin-top: 0;
    margin-bottom: 45px;
    line-height: 23px;
    letter-spacing: 0.2px;
}

.footer__contact b, a {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}

.footer__social_list__title {
	text-align: center;
}

.footer__social_list__title b {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	margin-bottom: 18px;
}

.footer__social_link {
	display: inline-block;
	vertical-align: middle;
    width: 43px;
    height: 43px;
}

.footer__social_link:last-child {
	margin: 0;
}

.footer__social_list__main {
	text-align: center;
}

.footer__social_list__main a {
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}
.social_vk {
	background-image: url(../img/vk.png);
	margin-right: 4px;
}

.social_f {
	background-image: url(../img/f.png);
	margin-right: 4px;
}

.social_insta {
	background-image: url(../img/inst.png);
}

.footer__create b{
	display: block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	text-align: right;
	padding-right: 47px;
	margin-bottom: 20px;
}
.footer_create-position_link {
	text-align: right;
	padding-right: 15px;
}
.footer__create_button {
    display: inline-block;
    width: 140px;
	height: 45px;
    color: white;
    background-color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.1px;
}

@media screen and (max-width: 768px) {

.header__navigator li{
	padding: 20px 15px;
}

.header__user_block {
	margin-right: 0;
}

.adventage_items__contet p {
	margin-bottom: 40px;
}

.price_items__title {
	font-size: 25px;
	margin-bottom: 25px;
}

.price_items__item {
	min-height: 350px;
    margin-left: 40px;
    margin-top: 40px;
}

.conatant_news p {
	line-height: 18px;
}

.conatant_news time {
	margin-bottom: 15px;
}

.price_items__contant {
	margin-right: 40px;
	line-height: 18px;
}

.price_items__contant img {
    margin-bottom: 40px;
    margin-left: 0px;
    margin-top: 0px;
    max-width: 93%;
}

.contant_news__button, .price_gallery__button_prew, .price_gallery__button_next, 
.contant_contact__button_map, .contant_contact__button_recall {
	width: 120px;
}

.contant_note__input {
	width: 125px;
}

.contant_note__sent_button {
	width: 273px;
}

.footer__contact p {
	line-height: 18px;
}

.footer__contact b, a {
	font-size: 12px;
}
}

@media screen and (max-width: 320px) {

.hamburger_menu__icon {
	display: block;
	float: left;
	margin-top:20px;
	margin-left: 5%;
}

.hamburger_menu__icon svg g rect {
	fill: #8c8686;
	
}

.header__user_block {
	display: block;
	float: right;
}

.header__navigator {
	display: none;
}

.header__navigator li {
	display: block;
    border: 1px #242424 solid;
    margin-bottom: 5px;
}

.header__navigator_opened {
	display: block;
	padding: 0 20px;
    text-align: left;
    float: none;
}

.header__navigator li:last-child {
	margin-bottom: 25px;
}

.adventage_logo img {
	max-width: 90%;
}

.col-4 {
	float: none;
	width: 100%;
}

.prise_block {
	background-image: none;
}

.col-6 {
	width: 100%;
}

.price_items__item {
	margin-left: 5%;
    margin-top: 10%;
}
.price_items__title {
	text-align: center;
}

.price_items__contant {
	margin-right: 5%;
}

.conatant_news p {
	text-align: justify;
}

.contant_news__button {
	margin-left: 25%;
}

.price_items__contant img {
	max-width: 100%;
}

.price_gallery__button_prew {
	margin-right: 12px;
}
}