* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px; 
}

.container {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 10px;
}

.row {
	margin: 0 -10px;
	clear: both;
}

.clearfix:before,
.clearfix:after,
.row:after,
.row:before {
	content: '';
	display: table;
}

.clearfix:after,
.row:after {
	clear: both;
}

.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float:left;
	padding: 0 10px;
}

.col-1 {
	width: 8.3333%;
}
.col-2 {
	width: 16.6666%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333%;
}
.col-5 {
	width: 41.6666%;
}
.col-6 {
	width:50%;
}
.col-7 {
	width: 57.4795%;
}
.col-8 {
	width:66.6666%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.3333%;
}
.col-11 {
	width: 91.6674%;
}
.col-12 {
	width: 100%;
}

.banner {
	background-image: url(./img/tint.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	background-color: #0c0c0c;
	padding-top: 26px;
}

.header__link {
	display: inline-block;
	vertical-align: middle;
	float: right;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border-bottom: 2px transparent solid; 
	padding-bottom: 24px;
}

.header__link:hover {
	border-bottom: 2px #ffffff solid;

}
.header__link img {
	display: inline-block;
	vertical-align: middle;
}
.header__nav {
	display: inline-block;
	margin: 0 auto; /* благодаря этому у меня все выравнивается по центру*/
	padding: 0;
	vertical-align: middle;
	float: left;
}

.header__nav li {
	display: inline-block;
	padding-right: 35px;
}

.header__nav li:last-child {
	padding-right: 0;
}

.header__nav_link {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border-bottom: 2px transparent solid; 
	padding-bottom: 24px;
}

.header__nav_link:hover {
	border-bottom: 2px #ffffff solid;
}

.adventage_logo {
	margin:55px auto 75px auto;
	text-align: center;
}

.adventage_items__item {
	text-align: center;
	color: white;
}

.adventage_items__title {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 23px;
}

.adventage_items__figure_position {
	display: inline-block;
	text-align: center;
	padding-top:6px;
}

.adventage_items__figure {
	height: 28px;
	width: 28px;
	transform: rotate(45deg);
	background-color: white;
	display: block;
	margin: 0;
}

.adventage_items__contet p {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 34px;
	font-weight: bold;
	text-align: center;
	line-height: normal;
}

.price_items {
	padding: 0 10px;
}

.price_items__item {
	background-color: white;
	color:black;
	min-height: 430px;
}

.price_items__item:hover {
	box-shadow:inset 4px 0 5px 0 #ceccc9;
}

.price-padding {
	padding: 10px 0;
}

.price_items__title {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 80px;
	padding-top: 50px;
}

.price_items__contant {
	margin: 0;
	padding-left: 80px;
	line-height: 1.6;
	font-size: 14px;
	text-transform: uppercase;
}

.price_items__contant h4 {
	margin:0;
}

.price_items__contant h4:first-child {
	padding-top: 40px;
	font-weight: bold;
}

.price_items__contant p {
	margin: 0;
	padding-bottom: 40px;
}

.price_contant__button {
	border: 1px #000000 solid;
	padding: 15px 30px;
	color: white;
	background-color: #000000;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.price_items__contant img {
	margin: 50px 0 40px 0;
}

.price__button_prew {
	border: 1px #000000 solid;
	padding: 16px 40px;
	color: white;
	background-color: #000000;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 20px;
}

.price__button_next {
	border: 1px #000000 solid;
	padding: 16px 40px;
	color: white;
	background-color: #000000;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.price_items__contant-margin h4 {
	margin-bottom: 40px;
}

.button_map {
	margin-right: 20px;
}